@import "bootstrap";

/*******************
  Project styles
  *******************/

$margin : 10px;
$margintwo : $margin*2;

@import "bootstrap";

/*******************
  Penrose site styles
  *******************/

// palette

$mid-grey: 	#656565;
$dark-grey: #222222;
$yellow:	#f6cf32;
$white: 	#ffffff;

$blue: 		#43b2ff;
$green: 	#15d246;
$pink:	 	#f63293;
$red:	 	#f64932;



$transparent-black:	rgba(0,0,0,0.2);


//typography

$logo-font: 'Montserrat', sans-serif;
$body-font: LatoLatinLight;
$heavy-font: LatoLatin;

$logo-font-size: 50px;
$body-font-size: 14px;
$small-font-size: 12px;
$header-font-size: 18px;
$standfirst-font-size: 35px;
$stream-header-font-size: 18px;
$stream-subheader-font-size: 16px;

$line-height: 30px;
$small-line-height: 20px;

// margins & spacing

$left-margin: 0px;

// Fonts

@font-face {
    font-family: 'LatoLatin';
    src: url('../fonts/lato/LatoLatin-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/lato/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato/LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato/LatoLatin-Regular.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
	font-family: 'LatoLatinLight';
    src: url('../fonts/lato/LatoLatinLight-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/lato/LatoLatinLight-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/lato/LatoLatinLight-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/lato/LatoLatinLight-Regular.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

.container {
	margin: 0;
}

body {
	font-family: $body-font;
	font-weight: 200;
	font-size: $body-font-size;
	color: $white;
	text-rendering: optimizeLegibility;
	letter-spacing: 0.05em;
	
}

a {
	-webkit-transition: all 100ms ease-out 0.1s;
	-moz-transition: all 100ms ease-out 0.1s;
	-o-transition: all 100ms ease-out 0.1s;
	transition: all 100ms ease-out 0.1s;
	&:hover {
		text-decoration: none;
	}
}

.logo {
	font-family: $logo-font;
	text-transform: uppercase;
	font-size: $logo-font-size;
	margin: 100px 0px 60px;
	letter-spacing: 0.2em;
}

.hero-img {
	background: url(../images/bg-shot.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
}

.hero {
	padding-left: $left-margin;
	overflow: hidden;
	padding-bottom: 40px;
	.standfirst {
		font-size: $standfirst-font-size;
		line-height: $standfirst-font-size;
		letter-spacing: 0.07em;
		font-weight: 200;
		margin-bottom: 80px;
		padding-right: 20px;
		font-family: $body-font;
	}
	p {
		margin: 40px 0px;
		font-size: $header-font-size;
		font-weight: 400;
		font-family: $heavy-font;
	}
	a {
		color: $yellow;
		&:hover {
			color: $white;
		}
	}
}

.stream {
	position: relative;
	padding-left: $left-margin;
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: $yellow;
	color: $dark-grey;
	overflow: hidden;
	h2 {
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-size: $stream-header-font-size;
		font-weight: 200;
		margin-bottom: 40px;
	}
	h3 {
		font-size: $stream-subheader-font-size;
		margin-bottom: 20px;
		font-family: $heavy-font;
		a {
			color: $dark-grey;
			padding-bottom: 10px;
			border-bottom: 1px solid $transparent-black;
			&:hover {
				border-bottom-color: $dark-grey;
				color: $dark-grey;
			}
		}
	}
	a {
		color: $mid-grey;
		&:hover {
			color: $white;
		}
	}
}

.footer p {
	margin-top: 100px;
	font-size: $small-font-size;
}

/*******************
  Gramble styles
  *******************/


// $columnwidth : 200px;
/*

.grambleContainer2 {
	display: none;
}
*/

.grambleContainer {
	min-height: 110%;
	width: 100%;
	margin: auto;
	position: relative;
	color: $mid-grey;
	white-space-collapse: discard;
	a {
		font-size: 22px;
		color: #111;
		font-family: LatoLatin;
		display: inline-block;
		padding-bottom: 10px;
		//border-bottom: 5px solid #111;
	}
	p {
		font-size: 16px;
	}
}

body {
	background-color: $yellow;
	width: 100%;
}

.item {
	white-space-collapse: discard;
	width: 33.333333333%;
	padding: 10px;
	min-height: 200px;
	background-color: #fefefe;
	position: relative;
	p {
		color: #111;
		z-index: 1;
		position: relative;
		transition: color 600ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
	}
	p.title {
		font-size: 22px;
	}
	p.body {
		font-family: LatoLatinLight;
	}
	&.link {
		padding: 100px 20px;

	}
	&.article {
		padding: 100px 20px;		
	}
	&.image {
		padding: 0px;
		//width: 66.66666666%;
		//width: $columnwidth*3;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	overflow: hidden;
	.cover {
		position: absolute;
		display: block;
		background-color: rgba(0,0,0,0.7);
		font-size: 12px;
		width: 100%;
		height: 100%;
		top: -100%;
		left: 0%;
		color: white;
		text-align: right;
		transition: top 200ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
		span {
			text-transform: uppercase;
			letter-spacing: 0.2em;
			width: 100%;
			top: -100%;
			display: block;
			position: absolute;
			padding: 50px 20px;
			transition: top 400ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
		}
	}
	&:hover {
		//transform: scale(1.05);
		z-index: 1;
		p {
			color: white;
		}
		.cover {
			top: 0%;
			span {
				top: 0%;
			}
		}
	}
}

$yellow2: #e8c32f;
$yellow3: #ddba2d;
$yellow4: #d3b22b;
$yellow5: #ccac29;

 .grambleContainer .item {
 	&:nth-child(4n+1)   { background-color: $yellow; }
 	&:nth-child(4n+2)  	{ background-color: $yellow2; }
 	&:nth-child(4n+3)  	{ background-color: $yellow3; }
 	&:nth-child(4n+4)  	{ background-color: $yellow4; }
 }

@media all and (max-width: 900px) and (min-width: 641px) {
	.item {
		width: 50%
	}
}

@media all and (max-width: 640px) {
	.item {
		width: 100%
	}
}




